/* login container  */

.form-control {
    padding: 1rem .7rem !important;
}

.sign_layout_left_container input::placeholder,
.sign_layout_left_container .normal_select-dropdown-select-input::placeholder,
.custom_input_placeholder input::placeholder,
.custom_input_placeholder .normal_select-dropdown-select-input::placeholder {
    color: #1F7A8D !important;
    font-size: 13px !important;
}

input::placeholder {
    font-size: .9rem;
    color: rgba(128, 128, 128, 0.562) !important;
}

.text_auth_input_label {
    color: var(--login-label-color);
    font-size: clamp(16px, 1vw, 17px);
    margin-bottom: .25rem !important;
}

/* ----------------------------------------------------------------------------------------------- */

/* Input functions styles  */
.custom_container .special-label {
    position: static !important;
    color: #1E75BB !important;
    font-size: 17px !important;
    padding: 0 !important;
    font-weight: 600;
}

.react-tel-input .special-label::after {
    color: #1E75BB !important;
}

.custom_flag_btn {
    top: 30% !important;
}

.professional_phone_input::placeholder {
    color: #aaa;
    font-style: italic;
}

.professional_phone_input {
    border: 1px solid #dee2e6 !important;
    width: 100% !important;
    padding-left: 3rem !important;
}

.professional_phone_input:focus-within {
    outline: none !important;
    box-shadow: none !important;
    border-color: #007bff;
}

.professional_signup_location {
    padding: 1rem .7rem;
    width: 100%;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    background: transparent;
    color: black;
}

.professional_signup_location:focus-within {
    outline: none !important;
    box-shadow: none !important;
    border: 1px solid #dee2e6 !important;
}

.country-list.custom_dropdown .search-box {
    background: transparent !important;
    color: black !important;
}

.login_react_dropdown_select.react-dropdown-select {
    border-color: #dee2e6;
    padding: 1rem .6rem !important;
    margin-top: .3rem;
    border-radius: 7px !important;
}

.login_react_dropdown_select .react-dropdown-select-input {
    color: black;
}

.button_design_select {
    padding: .8rem;
    border: 1px solid #D2D2D2;
    color: var(--auth-input-label-color);
    border-radius: 22px;
    text-align: center;
}

.custom_button_design_select {
    transition: all .2s ease;
    cursor: pointer;
}

.custom_button_design_select.active {
    background-color: #1e75bb;
    color: #ffffff;
}

/* ----------------------------------------------------------------------------------------------- */

/* ----------------------------------------------------------------------------------------------- */



/*                                                   forgot page                          */
.forgot_password_header_container {
    height: 10%;
    display: grid;
    place-items: center;
}

.forgot_password_body_container {
    height: 90%;
    display: grid;
    place-items: center;
}

.forgot_password_container {
    width: 550px;
    padding: 5rem 3rem;
    background-color: #ffffff;
    border-radius: 6px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.15);
    border: none;
}

/* ----------------------------------------------------------------------------------------------- */


/*                                                   reset page                          */
.reset_password_layout {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.reset_password_side_one_container {
    width: 780px;
    max-width: 780px;
    flex-shrink: 0;
    transition: all 0.3s ease-in-out;
}

.reset_password_side_one_container img {
    object-fit: cover;
}

.reset_password_header_container {
    height: 10%;
    display: grid;
    place-items: center;
}

.reset_password_body_container {
    height: 90%;
    display: grid;
    place-items: center;
}

.reset_password_container {
    width: 600px;
    padding: 5rem 3rem;
    border-radius: 6px;
    border: none;
}


/********************************************************* notification dropdown *********************************************************/

.notification_dropdown_card {
    position: fixed;
    top: 60px;
    right: 60px;
    z-index: 10;
    background-color: #ffffff;
    border: 1px solid #dee2e6;
    border-radius: 6px;
    overflow: hidden;
    width: 0;
    height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .2s ease-in-out;
}

.notification_dropdown_card.active {
    opacity: 1;
    width: 360px;
    height: 450px;
    visibility: visible;
}

.notification_dropdown_card .card-header {
    background-color: var(--notification-header-bg-color);
    font-weight: 500;
    font-size: 1.1rem;
}

.notification_dropdown_card .card-body {
    overflow: auto;
}

.clear_all_button {
    font-size: .8rem;
}

.notification_item {
    border-bottom: 1px solid #dad7d7;
}

.notification_content p {
    font-size: 0.9rem;
    font-weight: 400;
    color: #595959;
}

.notify_image_glow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.notification_content_glow p {
    width: 100%;
    height: 80px;
}

.notification_date_glow {
    width: 30%;
    height: 30px;
}


/************************************************ Maintanance mode *********************************************************/
.maintanance_mode_container {
    height: 100%;
    width: 100%;
    display: grid;
    place-items: center;
    background-color: #2566e841;
}


/************************************************ Main page layout *********************************************************/
.main_layout_resolution {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(0deg, #B7C8FF, #ffffff 100%);
}

.main_layout_resolution::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;

    background: url('/image/layout_background.png') no-repeat bottom left;
    background-size: 650px 460px;

    width: 650px;
    height: 460px;

    z-index: 0;
}

.main_layout_header_resolution {
    height: 95px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #ffffff;
    box-shadow: 0 4.99px 31.21px 0 rgba(37, 103, 232, 0.13);
}

.main_layout_body_resolution {
    height: calc(100% - 95px);
    padding: 1.5rem auto;
    overflow: auto;
}

/************************************************************ Card design *********************************************************/
.med_search_page .card::after,
.med_search_result .med_search_result_card::after {
    content: "";
    position: absolute;
    top: -35%;
    right: -8%;
    background: url('../../public/image/top_right_design.png') no-repeat center;
    background-size: 150px 250px;
    height: 100%;
    width: 25%;
    z-index: 0;
}

.med_search_page .card::before,
.med_search_result .med_search_result_card::before {
    content: "";
    position: absolute;
    bottom: -35%;
    left: -8%;
    background: url('../../public/image/bottom_left_design.png') no-repeat center;
    background-size: 150px 250px;
    height: 100%;
    width: 25%;
    z-index: 0;
}

/************************************************************ Login page *********************************************************/

.login_container {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.login_container .card {
    height: calc(100% - 15%) !important;
    width: 65% !important;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    transition: all .3s ease;
}

.login_form_content {
    max-width: 500px;
    z-index: 10;
    height: 80%;
    display: grid;
    place-items: center;
    background-color: #ffffff;
}



/************************************************ Med search page *********************************************************/
.med_search_page {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.med_search_page .card {
    height: calc(100% - 15%) !important;
    width: 65% !important;
    position: relative;
    overflow: hidden;
    display: grid;
    place-items: center;
    transition: all .3s ease;
}

.med_search_input {
    border: 1px solid #2566e881 !important;
}

.taper_hr {
    display: inline-block;
    height: 2px;
    width: 100%;
    border: none;
    background: 1px linear-gradient(90deg, #5C93FF 0%, #FFF 100%);
}

.search_suggestions {
    height: 140px;
    overflow: auto;
}

.taper_border_right {
    height: 100%;
    border: 1px linear-gradient(90deg, #5C93FF 0%, #FFF 100%);
}


.suggestion_list_content {
    color: gray;
    font-weight: 300;
    font-size: 15px;
}


/************************************************ Med search details page *********************************************************/
.med_search_result {
    display: grid;
    place-items: center;
}

.med_search_result .med_search_result_card {
    height: calc(100% - 10%) !important;
    width: 90% !important;
    position: relative;
    overflow: hidden;
    transition: all .3s ease;
}

.med_details_page_content {
    z-index: 10;
}

.med_search_result .med_search_result_card .card-body {
    width: calc(100% - 5%);
    margin: auto;
    padding: 1rem .5rem;
    overflow: auto;
}

.heading_tire_primary_badge {
    background-color: var(--brand-color);
    color: #ffffff;
    font-size: 13px;
    padding: .5rem 1rem;
    border-radius: 6px;
}

.alternate_medications_width {
    width: 65%;
    height: 580px;
    z-index: 10;
    padding-left: 1rem;
}

.current_medication_font {
    font-weight: 400;
}

.current_medication_left_side_header {
    text-transform: uppercase;
    color: var(--brand-color);
    background-color: #007bff3a;
    font-weight: 400;
    font-size: 15px;
}

.suggestion_plus_icon {
    color: var(--brand-color) !important;
    background-color: #007bff3a !important;
    padding: .3rem .5rem !important;
}

.current_medication_left_side_table th {
    font-weight: 400;
}

.current_medication_left_side_table tr {
    border-color: rgba(128, 128, 128, 0.219);
}

.current_medication_left_side_table td {
    font-size: 14px;
    color: gray;
    padding: 1rem .5rem;
}

.current_medication_left_side_table tbody tr:last-child td {
    border-bottom-width: 0px !important;
}

.custom_login_spinner {
    width: 4.5rem;
    height: 4.5rem;
    border: .25em solid var(--brand-color) !important;
    border-right-color: #0000 !important;
}

.custom_card_success {
    border-radius: 8px;
    border: 1px solid #7BF1A8;
    background: #DCFCE7;
    color: #008236;
    padding: .4rem 1rem;
    font-size: 14px;
    display: inline-block;
}

/************************************************ med suggesstion list *********************************************************/
.med_suggestion_list_card {
    cursor: pointer;
}

.med_suggestion_list_card .req_content h6 {
    color: #E17100;
}

.med_suggestion_list_card .req_content p {
    color: #7B3306;
}

.med_suggestion_list_card .medical_condition_name {
    display: inline-flex;
    padding: 8px 8px 8px 5px;
    align-items: center;
    border-radius: 5px;
    background: linear-gradient(90deg, #EEF2FF 0%, #FAF5FF 100%);
}

.med_suggestion_list_card .medical_condition_name p {
    color: #312C85;
}

.med_suggestion_list_card_tier {
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 14px;
    padding: .3rem 1rem;
    border-radius: 0 15px 0 12px;
    color: #ffffff;
    background-color: var(--brand-color);
}

.med_search_input input {
    scroll-margin-top: 2rem;
}