@media (prefers-color-scheme: light) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed;
    }
}


@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}




/************************************************ min-width: 1400px *********************************************************/
@media (min-width: 1400px) {
    .med_search_page .card .card-body {
        width: 700px;
    }
}

@media (min-width: 1200px) {
    .main_layout_resolution::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('/image/layout_background.png') no-repeat bottom left;
        background-size: 730px 500px;
        width: 730px;
        height: 500px;
        z-index: 0;
    }

    .med_search_page .card::after,
    .med_search_result .med_search_result_card::after {
        content: "";
        position: absolute;
        top: -35%;
        right: -8%;
        background: url('../../public/image/top_right_design.png') no-repeat center;
        background-size: 150px 250px;
        height: 100%;
        width: 25%;
        z-index: 0;
    }

    .med_search_page .card::before,
    .med_search_result .med_search_result_card::before {
        content: "";
        position: absolute;
        bottom: -35%;
        left: -8%;
        background: url('../../public/image/bottom_left_design.png') no-repeat center;
        background-size: 150px 250px;
        height: 100%;
        width: 25%;
        z-index: 0;
    }
}



/************************************************ min-width: 992px *********************************************************/
@media (min-width: 992px) {}



/************************************************ (min-width: 1200px) and (max-width: 1400px) *********************************************************/
@media (min-width: 1200px) and (max-width: 1400px) {
    .med_search_page .card .card-body {
        width: 550px;
    }
}



/************************************************ max-width: 1200px *********************************************************/
@media (max-width: 1200px) {
    .main_layout_resolution {
        background: linear-gradient(-145deg, #B7C8FF, #ffffff 100%);
    }

    .med_search_page {
        height: 93% !important;
    }

    .med_search_page .card {
        width: 100% !important;
        height: 100% !important;
        background-color: transparent;
    }

    .med_search_result .med_search_result_card {
        width: 100% !important;
        height: 98% !important;
        border-top-right-radius: 22px;
        border-top-left-radius: 22px;
    }

    .alternate_medications_width {
        width: 100%;
        height: auto;
        padding-left: 0rem;
        margin-top: .8rem;
    }

    .med_search_page .card .card-body {
        width: calc(100% - 30%);
    }

    .mobile_responsive_card,
    .mobile_responsive_last_search_card {
        width: 100%;
        height: auto;
        background-color: #ffffff;
        min-height: 330px;
        border-radius: 22px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .mobile_responsive_card_body,
    .mobile_responsive_last_search_card_body {
        width: 100%;
        padding: .5rem 1rem;
    }

    .mobile_responsive_last_search_card {
        height: 350px;
        overflow: hidden;
    }

    .search_suggestions {
        height: 300px;
    }

    .main_layout_header_resolution {
        background: transparent;
        box-shadow: none;
        height: 70px;
        padding: 0 1rem;
    }

    .main_layout_body_resolution {
        height: calc(100% - 70px);
    }

    .med_search_result .med_search_result_card {
        height: 100% !important;
        width: 100% !important;
        background-color: transparent !important;
    }

    .alternate_medications_width>.card {
        background: transparent;
        box-shadow: none;
    }
}




/************************************************ max-width: 992px *********************************************************/
@media (max-width: 992px) {}




/************************************************ max-width: 856px *********************************************************/
@media (max-width: 856px) {
    .login_main_content {
        width: calc(100% - 30px);
    }

    .forgot_password_container {
        width: calc(100% - 30px);
        padding: 5rem 2rem;
    }
}

/************************************************ max-width: 786px *********************************************************/
@media (max-width: 786px) {
    .med_search_page .card .card-body {
        width: calc(100% - 20%);
    }
}


/************************************************ max-width: 856px *********************************************************/
@media (max-width: 586px) {
    .professional_body {
        width: 95%;
    }

    .med_search_page .card .card-body {
        width: 100%;
    }
}